<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Customer - Gasoline Station</title>
  <link rel="stylesheet" href="../styles.css">
</head>

<body>
  <nav>
    <button id="bt-back">&#8592;</button>
    <h2 id="page-title">បន្ថែមអតិថិជនថ្មី</h2>
  </nav>

  <div class="flex jusify-center">
    <div class="container flex flex-column" style="min-width: 500px;">
      <label for="tbName">ឈ្មោះ</label>
      <input type="text" id="tbName" required>

      <label for="tbPhone" class="mt-2">ទូរសព្ទ</label>
      <input type="text" id="tbPhone" required>

      <label for="tbAddress" class="mt-2">អាសយដ្ឋាន</label>
      <input type="text" id="tbAddress" required>

      <label for="tbCode" class="mt-2">កូដកម្មង</label>
      <input type="text" id="tbCode" required><br>

      <div class="flex flex-row">
        <button style="flex-grow: 1;" class="text-danger" id="bt-cancel">បោះបង់</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button style="flex-grow: 1;" class="text-primary" id="bt-save">រក្សាទុក</button>
      </div>
    </div>
  </div>
  <script src="../../all.script.js"></script>
  <script src="./customer-new.js"></script>
</body>

</html>