<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Customer - Gasoline Station</title>
  <link rel="stylesheet" href="../styles.css">
  <link rel="stylesheet" href="./customer-new.css" />
</head>

<body>
  <nav>
    <button id="bt-back">&#8592;</button>
    <h2 id="page-title">New Customer</h2>
  </nav>

  <div class="flex jusify-center">
    <div class="container flex flex-column" style="min-width: 500px;">
      <label for="tbName">Name</label>
      <input type="text" id="tbName" required><br />
  
      <label for="tbPhone">Phone</label>
      <input type="text" id="tbPhone" required><br />
  
      <label for="tbAddress">Address</label>
      <input type="text" id="tbAddress" required><br />
  
      <label for="tbCode">Code</label>
      <input type="text" id="tbCode" required><br />
  
      <div class="flex flex-row">
        <button style="flex-grow: 1;" class="text-danger" id="bt-cancel">Cancel</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button style="flex-grow: 1;" class="text-primary" id="bt-save">Save</button>
      </div>
    </div>
  </div>
  <script src="./customer-new.js"></script>
</body>

</html>