@font-face {
  font-family: "Battambang";
  src:
    url(./Battambang-Regular.ttf),
    url(./Battambang-Bold.ttf),
    url(./Battambang-Black.ttf);
  unicode-range: U+1780-17FF, U+19E0-19FF, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Khmer Muol";
  src: url(./Moul.ttf);
  unicode-range: U+1780-17FF, U+19E0-19FF, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Freehand";
  src: url(./KhmerOSfreehand.ttf);
  unicode-range: U+1780-17FF, U+19E0-19FF, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Bokor";
  src: url(./KhmerOSBokor.ttf);
  unicode-range: U+1780-17FF, U+19E0-19FF, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Khmer Os Content";
  src: url(./Content-Regular.ttf), url(./Content-Bold.ttf);
  unicode-range: U+1780-17FF, U+19E0-19FF, U+200C-200D, U+25CC;
}

@font-face {
  font-family: "Times New Roman";
  src: url(./Times-New-Roman.ttf);
}

@font-face {
  font-family: Roboto;
  src:
    url(./Roboto-Black.ttf),
    url(./Roboto-BlackItalic.ttf),
    url(./Roboto-Bold.ttf),
    url(./Roboto-BoldItalic.ttf),
    url(./Roboto-Italic.ttf),
    url(./Roboto-Light.ttf),
    url(./Roboto-LightItalic.ttf),
    url(./Roboto-Medium.ttf),
    url(./Roboto-MediumItalic.ttf),
    url(./Roboto-Regular.ttf),
    url(./Roboto-Thin.ttf),
    url(./Roboto-ThinItalic.ttf);
}

@font-face {
  font-family: "Roboto regular";
  src: url(./Roboto-Regular.ttf);
}

.khmer-muol {
  font-family: "Khmer Muol";
  font-weight: 400;
  font-style: normal;
}

.freehand {
  font-family: Freehand, "Times New Roman";
  font-style: normal;
  font-weight: 400;
}

.siemreap-regular {
  font-family: "Siemreap", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.bokor {
  font-family: Bokor, "Times New Roman", sans-serif;
}

.times-new-roman {
  font-family: "Times New Roman" !important;
  font-weight: 400;
  font-style: normal;
}

.roboto-thin {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", serif;
  font-weight: 900;
  font-style: italic;
}