@import url(../fonts/fonts.css);

* {
  font-family: Battambang, "Times New Roman", "Roboto regular", serif;
}

.frame {
  width: 100vw;
  height: 34px;
  margin-left: -8px;
  margin-top: -8px;
  background: #eeeeee;
  margin-bottom: 8px;

  button {
    height: 34px;
    width: 34px;
    border: none;
    background: none;

    &:hover {
      background: gainsboro;
    }
  }
}


/* * {
  user-select: none;
} */

table *,
input,
select,
textarea {
  user-select: unset;
}

.border-0 {
  border: none;
}

.battambang {
  font-family: Battambang;
}

.roboto {
  font-family: "Roboto regular", serif;
}

.swal2-styled {
  height: auto;
}

input,
select {
  height: 36px;
}

input[type=date] {
  height: 38px;
}

button {
  height: 42px;
}

.no-select {
  user-select: none;
}

.pointer,
button {
  cursor: pointer;
}

table {
  margin-top: 16px;
  width: 100%;
  border-collapse: collapse;

  th {
    height: 36px;
  }

  td,
  th {
    border: 1px solid gray;
    padding: 1px 4px;
  }

  tbody tr:not(tr.no-data):hover {
    background-color: gainsboro;
  }

  tr {
    &:nth-child(even) {
      background-color: #bbffff;
    }

    td.no-data {
      text-align: center;
    }

    &:not(table tr th) {
      height: 32px;
    }
  }
}

.flex {
  display: flex;

  &.flex-row {
    flex-direction: row;
  }

  &.flex-column {
    flex-direction: column;
  }

  &.jusify-center {
    justify-content: center;
  }

  &.items-center {
    align-items: center;
  }

  &.justify-end {
    justify-content: end;
  }

  &.justify-between {
    justify-content: space-between;
  }

  @for $i from 0 through 5 {
    &.gap-#{$i} {
      gap: #{$i * 4}px;
    }
  }
}

.text-primary {
  color: #2000d3;
}

.text-danger {
  color: #dd0000;
}

.text-warn {
  color: #f0f000;
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

nav {
  width: calc(100% + 16px);
  display: flex;
  flex-direction: row;
  background: #eeeeee;
  height: 64px;
  margin: -8px;
  margin-bottom: 8px;
}

nav>button {
  height: unset;
  width: unset;
  background: transparent;
  border: none;
  margin: 0 10px;
}

nav>h2 {
  margin: auto 0;
}

.bg-none {
  background: transparent;
}

@for $i from 0 through 5 {

  .mt-#{$i},
  .m-#{$i} {
    margin-top: #{$i * 4}px;
  }

  .mb-#{$i},
  .m-#{$i} {
    margin-bottom: #{$i * 4}px;
  }

  .ml-#{$i},
  .m-#{$i} {
    margin-left: #{$i * 4}px;
  }

  .mr-#{$i},
  .m-#{$i} {
    margin-right: #{$i * 4}px;
  }
}

@for $i from 5 through 16 {
  .fs-#{$i} {
    font-size: #{$i}px !important;
  }
}

.fw-bold {
  font-weight: bold !important;
}

.fs-normal {
  font-weight: normal !important;
}

.home-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.home-page a {
  display: contents;
}

.shadow-0 {
  text-shadow: none !important;
  box-shadow: none !important;
}

body:has(.invoice) {
  background-color: #cdcdcd;
  margin: 0;
}

.invoice {
  display: flex;
  justify-content: center;
}

.invoice-container {
  width: 21cm;
  /* box-shadow: 0 0 1px 1px gray; */
  padding: 0;
  margin: 0;

  * {
    font-size: 12px;
  }

  header {
    display: flex;
    justify-content: center;
    flex-direction: row;

    img {
      height: 70px;
    }

    div span {
      font-size: 20px;
    }
  }

  table {
    * {
      border: none;
      padding: 0;
    }

    tr>* {
      padding: 0 2px;
    }

    tr,
    tr:hover {
      background-color: unset !important;
    }

    thead tr {
      vertical-align: baseline;

      th {
        color: #000000;
        font-family: Freehand, "Times New Roman";
        font-weight: 600;
        text-shadow: 0.001px 0 0 #000000, -0.001px 0 0 #000000, 0 0.001px 0 #000000, 0 -0.001px 0 #000000;
        text-align: left;
      }
    }

    tbody tr {
      td {
        font-size: 9px;
      }

      &:nth-child(n+3) td:not(td:first-child) {
        border-bottom: 1px dashed gray;
      }
    }
  }

  &.customer-invoice {
    // background: url(../images/customer-invoice.jpg);
    // background-size: contain;
    min-height: 29.7cm;
    position: relative;

    &>* {
      font-family: "Khmer Os Content", "Times New Roman";
    }

    * {
      position: absolute;
      font-size: 12px;
    }

    img:nth-of-type(1) {
      position: absolute;
      left: 0;
      right: 0;
      width: 21cm;
    }

    img:nth-of-type(2) {
      width: 76px;
      left: 203px;
      top: 5px;
    }

    p {
      margin: 0;
      // font-weight: bold;

      &:nth-of-type(1) {
        top: 123px;
        left: 140px;
        font-weight: bold;
        font-size: 12px;
      }

      &:nth-of-type(2) {
        top: 124px;
        left: 170mm;
        font-weight: bold;
        font-size: 17px;
      }

      &:nth-of-type(3) {
        top: 162px;
        left: 138px;
        font-size: 14px;
      }

      &:nth-of-type(4) {
        top: 162px;
        left: 155mm;
        font-size: 13px;
      }
      
      &:nth-of-type(5) {
        top: 199px;
        left: 185px;
        font-size: 13px;
      }

      &:nth-of-type(6) {
        top: 200px;
        left: 155mm;
      }

      &:nth-of-type(7) {
        top: 260px;
        left: 215px;
        display: none;
      }

      &:nth-of-type(8) {
        top: 260px;
        right: 65px;
        display: none;
      }

      &:nth-of-type(9) {
        top: 295px;
        left: 180px;
        display: none;
      }

      &:nth-of-type(10) {
        top: 257px;
        left: 140mm;
      }

      &:nth-of-type(11) {
        top: 288px;
        left: 201px;
      }

      &:nth-of-type(12) {
        top: 290px;
        left: 138mm;
      }

      &:nth-of-type(13) {
        top: 319px;
        left: 201px;
      }

      &:nth-of-type(14) {
        top: 322px;
        left: 135mm;
        font-size: 13px;
      }

      &:nth-of-type(15) {
        top: 350px;
        left: 174px;
      }

      &:nth-of-type(16) {
        top: 348px;
        left: 152mm;
      }

      &:nth-of-type(17) {
        top: 378px;
        left: 177px;
      }

      &:nth-of-type(18) {
        top: 381px;
        left: 144mm;
        font-size: 13px;
      }

      &:nth-of-type(19) {
        top: 800px;
        left: 156mm;
      }

      &:nth-of-type(19) {
        top: 858px;
        left: 102mm;
        text-align: center;
        width: 80px;
        font-size: 14px;
      }

      &:nth-of-type(20) {
        top: 858px;
        left: 176mm;
        text-align: center;
        width: 115px;
        font-size: 14px;

        &::before {
          position: absolute;
          content: '$';
          left: 0;
        }
      }

      &:nth-of-type(21) {
        top: 891px;
        left: 245px;
      }
    }

    div.table {
      position: absolute;
      top: 477px;
      padding: 0px 12px 0 26px;
      left: 0;
      right: 0;
    }

    div.table>div {
      position: unset;
      width: 100%;
      height: 40px;
      border-bottom: 1px dashed #bfbfbf;
      font-weight: normal;

      &>div:nth-child(2) {
        text-align: left;
        text-indent: 10mm;
      }

      &>div {
        position: unset;
        text-align: center;
        font-size: 14px;

        &:nth-child(1) {
          width: 60px;
        }

        &:nth-child(2) {
          width: 239px;
        }

        &:nth-child(3) {
          width: 60px;
        }

        &:nth-child(4) {
          width: 80px;
        }

        &:nth-child(5) {
          width: 89px;
        }

        &:nth-child(6) {
          width: 110px;
        }

        &:nth-child(7) {
          width: 120px;
        }
      }
    }
  }
}


@media print {
  body {
    max-width: 21cm;
    width: 21cm;
    margin: 0;
    padding: 0;
  }

  .frame {
    display: none;
  }

  nav {
    display: none;
  }

  .invoice,
  .invoice-container {
    box-shadow: none;
    margin: 0;
  }

  .invoice-container button {
    display: none;
  }

  .invoice-container.customer-invoice img:nth-of-type(1) {
    margin-top: 0;
  }

  // .invoice-container.customer-invoice {
  //   background-image: url(../images/customer-invoice.jpg);
  //   background-size: contain;
  //   min-height: 29.7cm;
  //   position: relative;
  // }
}