@import url(../fonts/fonts.css);

* {
  font-family: Battambang, "Times New Roman", "Roboto regular", serif;
}

.frame {
  width: 100vw;
  height: 34px;
  margin-left: -8px;
  margin-top: -8px;
  background: #eeeeee;
  margin-bottom: 8px;

  button {
    height: 34px;
    width: 34px;
    border: none;
    background: none;

    &:hover {
      background: gainsboro;
    }
  }
}


/* * {
  user-select: none;
} */

table *,
input,
select,
textarea {
  user-select: unset;
}

.border-0 {
  border: none;
}

.battambang {
  font-family: Battambang;
}

.roboto {
  font-family: "Roboto regular", serif;
}

.swal2-styled {
  height: auto;
}

input,
select {
  height: 36px;
}

input[type=date] {
  height: 38px;
}

button {
  height: 42px;
}

.no-select {
  user-select: none;
}

.pointer,
button {
  cursor: pointer;
}

table {
  margin-top: 16px;
  width: 100%;
  border-collapse: collapse;

  th {
    height: 36px;
  }

  td,
  th {
    border: 1px solid gray;
    padding: 1px 4px;
  }

  tbody tr:not(tr.no-data):hover {
    background-color: blue;
    color: #ffffff;
  }

  tr {
    &:nth-child(even) {
      background-color: #bbffff;
    }

    td.no-data {
      text-align: center;
    }

    &:not(table tr th) {
      height: 32px;
    }
  }
}

.w-0 {
  width: 0;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.flex {
  display: flex;

  &.flex-row {
    flex-direction: row;
  }

  &.flex-column {
    flex-direction: column;
  }

  &.jusify-center {
    justify-content: center;
  }

  &.items-center {
    align-items: center;
  }

  &.justify-end {
    justify-content: end;
  }

  &.justify-start {
    justify-content: start;
  }

  &.justify-between {
    justify-content: space-between;
  }

  @for $i from 0 through 5 {
    &.gap-#{$i} {
      gap: #{$i * 4}px;
    }
  }

  &.w-0,
  .w-0 {
    flex-basis: 0;
  }

  &.w-25,
  .w-25 {
    flex-basis: 25%;
  }

  &.w-50,
  .w-50 {
    flex-basis: 50%;
  }

  &.w-75,
  .w-75 {
    flex-basis: 75%;
  }

  &.w-100,
  .w-100 {
    flex-basis: 100%;
  }
}

.text-primary {
  color: #2000d3;
}

.text-danger {
  color: #dd0000;
}

.text-warn {
  color: #f0f000;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.p-relative {
  position: relative !important;
}

.p-absolute {
  position: absolute !important;
}

.p-fixed {
  position: fixed !important;
}

.p-unset {
  position: unset !important;
}

.p-static {
  position: static !important;
}

.p-sticky {
  position: sticky !important;
}

nav {
  width: calc(100% + 16px);
  display: flex;
  flex-direction: row;
  background: #eeeeee;
  height: 64px;
  margin: -8px;
  margin-bottom: 8px;
  max-width: 100vw;
  width: 100%;
}

nav>button {
  height: unset;
  width: unset;
  background: transparent;
  border: none;
  margin: 0 10px;
}

nav>h2 {
  margin: auto 0;
}

.bg-none {
  background: transparent;
}

@for $i from 0 through 5 {

  .mt-#{$i},
  .my-#{$i},
  .m-#{$i} {
    margin-top: #{$i * 4}px;
  }

  .mb-#{$i},
  .my-#{$i},
  .m-#{$i} {
    margin-bottom: #{$i * 4}px;
  }

  .ml-#{$i},
  .mx-#{$i},
  .m-#{$i} {
    margin-left: #{$i * 4}px;
  }

  .mr-#{$i},
  .mx-#{$i},
  .m-#{$i} {
    margin-right: #{$i * 4}px;
  }
}

@for $i from 5 through 16 {
  .fs-#{$i} {
    font-size: #{$i}px !important;
  }
}

.fw-bold {
  font-weight: bold !important;
}

.fs-normal {
  font-weight: normal !important;
}

.home-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.home-page a {
  display: contents;
}

.shadow-0 {
  text-shadow: none !important;
  box-shadow: none !important;
}

body:has(.invoice) {
  background-color: #cdcdcd;
  margin: 0;
}

body:has(.invoice) {
  nav {
    margin: 0;
  }
}

.invoice {
  display: flex;
  justify-content: center;
}

.invoice-container {
  width: 21cm;
  /* box-shadow: 0 0 1px 1px gray; */
  padding: 0;
  margin: 0;
  background-color: #ffffff;

  &.landscape {
    width: 29.7cm;
    height: 21cm;
  }

  * {
    font-size: 12px;
  }

  header {
    display: flex;
    justify-content: center;
    flex-direction: row;

    img {
      height: 70px;
    }

    div span {
      font-size: 20px;
    }
  }

  table {
    * {
      border: none;
      padding: 0;
    }

    tr>* {
      padding: 0 2px;
    }

    tr,
    tr:hover {
      background-color: unset !important;
    }

    thead tr {
      vertical-align: baseline;

      th {
        color: #000000;
        font-family: Freehand, "Times New Roman";
        font-weight: 600;
        text-shadow: 0.001px 0 0 #000000;
        // , -0.001px 0 0 #000000, 0 0.001px 0 #000000, 0 -0.001px 0 #000000;
        text-align: left;
      }
    }

    tbody tr {
      td {
        font-size: 10px;
      }

      &:nth-child(n+2) td:not(td:first-child) {
        border-bottom: 1px dashed gray;
      }
    }
  }

  &.customer-invoice {
    // background: url(../images/customer-invoice.jpg);
    // background-size: contain;
    min-height: 29.7cm;
    position: relative;
    overflow: hidden;

    &>* {
      font-family: "Khmer Os Content", "Times New Roman";
    }

    * {
      position: absolute;
      font-size: 12px;
    }

    img:nth-of-type(1) {
      position: absolute;
      left: 0;
      right: 0;
      width: 21cm;
    }

    img:nth-of-type(2) {
      width: 84px;
      left: 180px;
      top: 0px;
    }

    p {
      margin: 0;
      // font-weight: bold;

      &:nth-of-type(1) {
        top: 130px;
        left: 125px;
        font-weight: bold;
        font-size: 14px;
      }

      &:nth-of-type(2) {
        top: 133px;
        left: 183mm;
        font-weight: bold;
        font-size: 17px;
      }

      &:nth-of-type(3) {
        top: 174px;
        left: 130px;
        font-size: 14px;
        font-weight: bold;
      }

      &:nth-of-type(4) {
        top: 173px;
        left: 166mm;
        font-size: 15px;
        font-weight: bold;
      }

      &:nth-of-type(5) {
        top: 211px;
        left: 187px;
        font-size: 14px;
      }

      &:nth-of-type(6) {
        top: 211px;
        left: 160mm;
      }

      &:nth-of-type(7) {
        top: 260px;
        left: 215px;
        display: none;
      }

      &:nth-of-type(8) {
        top: 260px;
        right: 65px;
        display: none;
      }

      &:nth-of-type(9) {
        top: 295px;
        left: 180px;
        display: none;
      }

      &:nth-of-type(10) {
        top: 269px;
        left: 146mm;
      }

      &:nth-of-type(11) {
        top: 301px;
        left: 184px;
      }

      &:nth-of-type(12) {
        top: 301px;
        left: 148mm;
      }

      &:nth-of-type(13) {
        top: 331px;
        left: 180px;
      }

      &:nth-of-type(14) {
        top: 334px;
        left: 142mm;
        font-size: 13px;
      }

      &:nth-of-type(15) {
        top: 360px;
        left: 154px;
      }

      &:nth-of-type(16) {
        top: 358px;
        left: 162mm;
      }

      &:nth-of-type(17) {
        top: 390px;
        left: 166px;
      }

      &:nth-of-type(18) {
        top: 394px;
        left: 153mm;
        font-size: 13px;
      }

      &:nth-of-type(19) {
        top: 800px;
        left: 156mm;
      }

      &:nth-of-type(19) {
        top: 870px;
        left: 104mm;
        text-align: center;
        width: 80px;
        font-size: 14px;
      }

      &:nth-of-type(20) {
        top: 870px;
        left: 178mm;
        text-align: center;
        width: 115px;
        font-size: 14px;

        &:not(:empty)::before {
          position: absolute;
          content: '$';
          left: 0;
        }
      }

      &:nth-of-type(21) {
        top: 915px;
        left: 250px;
      }
    }

    div.table {
      position: absolute;
      top: 477px;
      padding: 0px 12px 0 26px;
      left: 0;
      right: 0;
    }

    div.table>div {
      position: unset;
      width: 100%;
      height: 40px;
      border-bottom: 1px dashed #bfbfbf;
      font-weight: normal;

      &>div:nth-child(2) {
        text-align: left;
        text-indent: 10mm;
      }

      &>div {
        position: unset;
        text-align: center;
        font-size: 13px;

        &:nth-child(1) {
          width: 60px;
        }

        &:nth-child(2) {
          width: 239px;
        }

        &:nth-child(3) {
          width: 60px;
        }

        &:nth-child(4) {
          width: 80px;
        }

        &:nth-child(5) {
          width: 89px;
        }

        &:nth-child(6) {
          width: 110px;
        }

        &:nth-child(7) {
          width: 120px;
        }
      }
    }
  }

  &.customer-invoice2 {
    display: flex;
    position: relative;
    // background: transparent;
    flex-direction: column;
    // color: red;

    $ml: 59px;
    $mr: 73px;
    $w: calc($ml + $mr);

    .dot {
      overflow: hidden;
      text-wrap: nowrap;
      width: var(--width);
    }

    .dot::after {
      content: '..........................................................................................................................................................';
      left: 100%;
      top: 50%;
      transform: translateY(-50%);
      white-space: nowrap;
      overflow: hidden;
      font-size: 18px;
    }

    >* {
      margin-left: $ml;
      margin-right: $mr;
      width: calc(100% - $w);
      position: relative;
    }

    .header {
      display: block;

      *:not(img) {
        position: unset;
        padding-left: 223px;
        color: #001f5e;
      }

      img.logo {
        position: absolute;
        width: 80px;
        left: 135px;
        top: 21px;
      }

      h1 {
        margin: 24px 0 0 0;
        font-family: "Khmer Muol";
        font-size: 21px;
      }

      h2 {
        margin: 3px 0 0 1px;
        font-family: 'Times New Roman';
        font-size: 19px;
      }

      h3 {
        margin: 17px 0 0 15px;
        font-family: Bokor, "Times New Roman";
        font-size: 16px;
      }
    }

    .row-1>h4 {
      margin: 9px 0 0;
      font-size: 12.4px;
    }

    .row-2 {
      >h4 {
        margin: 9px 0 0;
        font-size: 12.4px;
      }

      &.add-mt>h4 {
        margin-top: var(--mt);
      }
    }

    table {
      margin-top: 9px;
      border-collapse: collapse;

      * {
        position: unset;
        font-size: 13px;
        height: 39px;
      }

      tr.total,
      tr.total td {
        height: 26px;
      }

      tr:nth-child(1) td {
        line-height: 18px;
        border-top-width: 2px !important;
      }

      td {
        border: 1px solid #000000 !important;
        width: var(--width);

        &:nth-child(1) {
          border-left-width: 2px !important;
        }

        &:nth-last-child(1) {
          border-right-width: 2px !important;
        }
      }
    }

    p:nth-of-type(1) {
      top: 137px;
      left: 108px;
    }

    p:nth-of-type(2) {
      top: 140px;
      left: 162mm;
    }

    p:nth-of-type(3) {
      top: 176px;
      left: 114px;
      font-size: 13px;
    }

    p:nth-of-type(4) {
      top: 176px;
      left: 144mm;
      font-size: 14px;
    }

    p:nth-of-type(5) {
      top: 209px;
      left: 178px;
    }

    p:nth-of-type(6) {
      top: 209px;
      left: 138mm;
    }

    p:nth-of-type(7) {}

    p:nth-of-type(8) {}

    p:nth-of-type(9) {}

    p:nth-of-type(10) {
      top: 268px;
      left: 128mm;
    }

    p:nth-of-type(11) {
      top: 306px;
      left: 171px;
    }

    p:nth-of-type(12) {
      top: 303px;
      left: 130.5mm;
    }

    p:nth-of-type(13) {
      top: 342px;
      left: 165px;
    }

    p:nth-of-type(14) {
      top: 344px;
      left: 123mm;
    }

    p:nth-of-type(15) {
      top: 377px;
      left: 141px;
    }

    p:nth-of-type(16) {
      top: 376px;
      left: 143mm;
      text-wrap: nowrap;
    }

    p:nth-of-type(17) {
      top: 410px;
      left: 164px;
      font-size: 13px;
    }

    p:nth-of-type(18) {
      top: 415px;
      left: 133mm;
      font-size: 12px;
    }

    div.table {
      position: absolute;
      top: 486px;
      padding: 0px 12px 0 26px;
      left: 0;
      right: -34px;

      >div {
        border: none;
        background-image: url(../images/table-bottom-border.png);
        background-size: auto 1px;
        background-position-y: 100%;
        background-repeat: repeat-x;

        >div:nth-child(1) {
          width: 51px;
        }

        >div:nth-child(2) {
          text-indent: 7mm;
        }

        >div:nth-child(3) {}

        >div:nth-child(4) {}

        >div:nth-child(5) {}
      }
    }

    p:nth-of-type(19) {
      top: 776px;
      left: 89mm;
    }

    p:nth-of-type(20) {
      top: 776px;
      left: 153mm;
    }

    p:nth-of-type(21) {
      top: 819px;
      left: 230px;
    }
  }
}


@media print {
  body {
    max-width: 21cm;
    width: 21cm;
    height: 29.7cm;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #ffffff !important;

    &:has(.landscape) {
      width: 29.7cm;
      max-width: 29.7cm;
      height: 21cm;
    }
  }

  .frame {
    display: none;
  }

  nav {
    display: none;
  }

  .invoice,
  .invoice-container {
    box-shadow: none;
    margin: 0 !important;
    background-color: #ffffff;



    button {
      display: none;
    }

    &.customer-invoice img:nth-of-type(1) {
      margin: 0 !important;
    }
  }

  .print-d-none {
    display: none !important;
  }
}