@import url(../fonts/fonts.css);

* {
  font-family: Battambang, "Roboto regular", serif;
}

.battambang {
  font-family: Battambang;
}

.roboto {
  font-family: "Roboto regular", serif;
}

.swal2-styled {
  height: auto;
}

input,
select {
  height: 36px;
}

input[type=date] {
  height: 38px;
}

button {
  height: 42px;
}

.no-select {
  user-select: none;
}

.pointer,
button {
  cursor: pointer;
}

table {
  margin-top: 16px;
  width: 100%;
  border-collapse: collapse;
}

table th {
  height: 36px;
}

table tbody tr:hover:not(table tbody tr td.no-data) {
  background-color: gainsboro;
}

table tr td.no-data {
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #f0f0f0;
}

table tr:not(table tr th) {
  height: 32px;
}

table td,
table th {
  border: 1px solid gray;
  padding: 1px 4px;
}

.flex {
  display: flex;
}

.flex.flex-row {
  flex-direction: row;
}

.flex.flex-column {
  flex-direction: column;
}

.flex.jusify-center {
  justify-content: center;
}

.flex.items-center {
  align-items: center;
}

.flex.justify-end {
  justify-content: end;
}

.text-primary {
  color: #2000d3;
}

.text-danger {
  color: #dd0000;
}

.text-warn {
  color: #f0f000;
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

nav {
  width: calc(100% + 16px);
  display: flex;
  flex-direction: row;
  background: #eeeeee;
  height: 64px;
  margin: -8px;
  margin-bottom: 8px;
}

nav>button {
  height: unset;
  width: unset;
  background: transparent;
  border: none;
  margin: 0 10px;
}

nav>h2 {
  margin: auto 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-5 {
  margin-top: 20px;
}

.mr-0 {
  margin-right: 0;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 8px;
}

.mr-3 {
  margin-right: 12px;
}

.mr-4 {
  margin-right: 16px;
}

.mr-5 {
  margin-right: 20px;
}

.home-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.home-page a {
  display: contents;
}