@import url(../fonts/fonts.css);
* {
  font-family: Battambang, "Times New Roman", "Roboto regular", serif;
}

.frame {
  width: 100vw;
  height: 34px;
  margin-left: -8px;
  margin-top: -8px;
  background: #eeeeee;
  margin-bottom: 8px;
}
.frame button {
  height: 34px;
  width: 34px;
  border: none;
  background: none;
}
.frame button:hover {
  background: gainsboro;
}

/* * {
  user-select: none;
} */
table *,
input,
select,
textarea {
  user-select: unset;
}

.border-0 {
  border: none;
}

.battambang {
  font-family: Battambang;
}

.roboto {
  font-family: "Roboto regular", serif;
}

.swal2-styled {
  height: auto;
}

input,
select {
  height: 36px;
}

input[type=date] {
  height: 38px;
}

button {
  height: 42px;
}

.no-select {
  user-select: none;
}

.pointer,
button {
  cursor: pointer;
}

table {
  margin-top: 16px;
  width: 100%;
  border-collapse: collapse;
}
table th {
  height: 36px;
}
table td,
table th {
  border: 1px solid gray;
  padding: 1px 4px;
}
table tbody tr:not(tr.no-data):hover {
  background-color: blue !important;
  color: #ffffff;
}
table tr:nth-child(even) {
  background-color: #bbffff;
}
table tr td.no-data {
  text-align: center;
}
table tr:not(table tr th) {
  height: 32px;
}

.w-0 {
  width: 0;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}

.block {
  display: block;
}

.flex {
  display: flex;
}
.flex.flex-row {
  flex-direction: row;
}
.flex.flex-column {
  flex-direction: column;
}
.flex.jusify-center {
  justify-content: center;
}
.flex.items-center {
  align-items: center;
}
.flex.justify-end {
  justify-content: end;
}
.flex.justify-start {
  justify-content: start;
}
.flex.justify-between {
  justify-content: space-between;
}
.flex.gap-0 {
  gap: 0px;
}
.flex.gap-1 {
  gap: 4px;
}
.flex.gap-2 {
  gap: 8px;
}
.flex.gap-3 {
  gap: 12px;
}
.flex.gap-4 {
  gap: 16px;
}
.flex.gap-5 {
  gap: 20px;
}
.flex.w-0,
.flex .w-0 {
  flex-basis: 0;
}
.flex.w-25,
.flex .w-25 {
  flex-basis: 25%;
}
.flex.w-50,
.flex .w-50 {
  flex-basis: 50%;
}
.flex.w-75,
.flex .w-75 {
  flex-basis: 75%;
}
.flex.w-100,
.flex .w-100 {
  flex-basis: 100%;
}

.text-primary {
  color: #2000d3;
}

.text-danger {
  color: #dd0000;
}

.text-warn {
  color: #f0f000;
}

.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.p-relative {
  position: relative !important;
}

.p-absolute {
  position: absolute !important;
}

.p-fixed {
  position: fixed !important;
}

.p-unset {
  position: unset !important;
}

.p-static {
  position: static !important;
}

.p-sticky {
  position: sticky !important;
}

nav {
  width: calc(100% + 16px);
  display: flex;
  flex-direction: row;
  background: #eeeeee;
  height: 64px;
  margin: -8px;
  margin-bottom: 8px;
  max-width: 100vw;
  width: 100%;
}

nav > button {
  height: unset;
  width: unset;
  background: transparent;
  border: none;
  margin: 0 10px;
}

nav > h2 {
  margin: auto 0;
}

.bg-none {
  background: transparent;
}

.mt-0,
.my-0,
.m-0 {
  margin-top: 0px;
}

.mb-0,
.my-0,
.m-0 {
  margin-bottom: 0px;
}

.ml-0,
.mx-0,
.m-0 {
  margin-left: 0px;
}

.mr-0,
.mx-0,
.m-0 {
  margin-right: 0px;
}

.mt-1,
.my-1,
.m-1 {
  margin-top: 4px;
}

.mb-1,
.my-1,
.m-1 {
  margin-bottom: 4px;
}

.ml-1,
.mx-1,
.m-1 {
  margin-left: 4px;
}

.mr-1,
.mx-1,
.m-1 {
  margin-right: 4px;
}

.mt-2,
.my-2,
.m-2 {
  margin-top: 8px;
}

.mb-2,
.my-2,
.m-2 {
  margin-bottom: 8px;
}

.ml-2,
.mx-2,
.m-2 {
  margin-left: 8px;
}

.mr-2,
.mx-2,
.m-2 {
  margin-right: 8px;
}

.mt-3,
.my-3,
.m-3 {
  margin-top: 12px;
}

.mb-3,
.my-3,
.m-3 {
  margin-bottom: 12px;
}

.ml-3,
.mx-3,
.m-3 {
  margin-left: 12px;
}

.mr-3,
.mx-3,
.m-3 {
  margin-right: 12px;
}

.mt-4,
.my-4,
.m-4 {
  margin-top: 16px;
}

.mb-4,
.my-4,
.m-4 {
  margin-bottom: 16px;
}

.ml-4,
.mx-4,
.m-4 {
  margin-left: 16px;
}

.mr-4,
.mx-4,
.m-4 {
  margin-right: 16px;
}

.mt-5,
.my-5,
.m-5 {
  margin-top: 20px;
}

.mb-5,
.my-5,
.m-5 {
  margin-bottom: 20px;
}

.ml-5,
.mx-5,
.m-5 {
  margin-left: 20px;
}

.mr-5,
.mx-5,
.m-5 {
  margin-right: 20px;
}

.fs-5 {
  font-size: 5px !important;
}

.fs-6 {
  font-size: 6px !important;
}

.fs-7 {
  font-size: 7px !important;
}

.fs-8 {
  font-size: 8px !important;
}

.fs-9 {
  font-size: 9px !important;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-13 {
  font-size: 13px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-15 {
  font-size: 15px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.fw-bold {
  font-weight: bold !important;
}

.fs-normal,
.fw-normal {
  font-weight: normal !important;
}

.home-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.home-page a {
  display: contents;
}

.shadow-0 {
  text-shadow: none !important;
  box-shadow: none !important;
}

body:has(.invoice) {
  background-color: #cdcdcd;
  margin: 0;
}

body:has(.invoice) nav {
  margin: 0;
}

.invoice {
  display: flex;
  justify-content: center;
}

.invoice-container {
  width: 21cm;
  /* box-shadow: 0 0 1px 1px gray; */
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}
.invoice-container.landscape {
  width: 29.7cm;
  height: 21cm;
}
.invoice-container * {
  font-size: 12px;
}
.invoice-container header {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.invoice-container header img {
  height: 70px;
}
.invoice-container header div span {
  font-size: 20px;
}
.invoice-container table * {
  border: none;
  padding: 0;
}
.invoice-container table tr > * {
  padding: 0 2px;
}
.invoice-container table tr,
.invoice-container table tr:hover {
  background-color: unset !important;
}
.invoice-container table thead tr {
  vertical-align: baseline;
}
.invoice-container table thead tr th {
  color: #000000;
  font-family: Freehand, "Times New Roman";
  font-weight: 600;
  text-shadow: 0.001px 0 0 #000000;
  text-align: left;
}
.invoice-container table tbody tr td {
  font-size: 10px;
}
.invoice-container table tbody tr:nth-child(n+2) td:not(td:first-child) {
  border-bottom: 1px dashed gray;
}
.invoice-container.customer-invoice {
  min-height: 29.7cm;
  height: 29.7cm;
  position: relative;
  overflow: hidden;
}
.invoice-container.customer-invoice > * {
  font-family: "Khmer Os Content", "Times New Roman";
}
.invoice-container.customer-invoice * {
  position: absolute;
  font-size: 14px;
}
.invoice-container.customer-invoice img:nth-of-type(1) {
  position: absolute;
  left: 0;
  right: 0;
  width: 21cm;
}
.invoice-container.customer-invoice img:nth-of-type(2) {
  width: 84px;
  left: 180px;
  top: 0px;
}
.invoice-container.customer-invoice p {
  margin: 0;
}
.invoice-container.customer-invoice p:nth-of-type(1) {
  top: 130px;
  left: 125px;
  font-weight: bold;
  font-size: 14px;
}
.invoice-container.customer-invoice p:nth-of-type(2) {
  top: 133px;
  left: 183mm;
  font-weight: bold;
  font-size: 17px;
}
.invoice-container.customer-invoice p:nth-of-type(3) {
  top: 174px;
  left: 130px;
  font-size: 14px;
  font-weight: bold;
}
.invoice-container.customer-invoice p:nth-of-type(4) {
  top: 173px;
  left: 166mm;
  font-size: 15px;
  font-weight: bold;
}
.invoice-container.customer-invoice p:nth-of-type(5) {
  top: 211px;
  left: 187px;
  font-size: 14px;
}
.invoice-container.customer-invoice p:nth-of-type(6) {
  top: 211px;
  left: 160mm;
}
.invoice-container.customer-invoice p:nth-of-type(7) {
  top: 260px;
  left: 215px;
  display: none;
}
.invoice-container.customer-invoice p:nth-of-type(8) {
  top: 260px;
  right: 65px;
  display: none;
}
.invoice-container.customer-invoice p:nth-of-type(9) {
  top: 295px;
  left: 180px;
  display: none;
}
.invoice-container.customer-invoice p:nth-of-type(10) {
  top: 269px;
  left: 146mm;
}
.invoice-container.customer-invoice p:nth-of-type(11) {
  top: 301px;
  left: 184px;
}
.invoice-container.customer-invoice p:nth-of-type(12) {
  top: 301px;
  left: 148mm;
}
.invoice-container.customer-invoice p:nth-of-type(13) {
  top: 331px;
  left: 180px;
}
.invoice-container.customer-invoice p:nth-of-type(14) {
  top: 334px;
  left: 142mm;
  font-size: 14px;
}
.invoice-container.customer-invoice p:nth-of-type(15) {
  top: 360px;
  left: 154px;
}
.invoice-container.customer-invoice p:nth-of-type(16) {
  top: 358px;
  left: 162mm;
}
.invoice-container.customer-invoice p:nth-of-type(17) {
  top: 390px;
  left: 166px;
}
.invoice-container.customer-invoice p:nth-of-type(18) {
  top: 394px;
  left: 153mm;
  font-size: 13px;
}
.invoice-container.customer-invoice p:nth-of-type(19) {
  top: 800px;
  left: 156mm;
}
.invoice-container.customer-invoice p:nth-of-type(19) {
  top: 870px;
  left: 104mm;
  text-align: center;
  width: 80px;
  font-size: 14px;
}
.invoice-container.customer-invoice p:nth-of-type(20) {
  top: 870px;
  left: 178mm;
  text-align: center;
  width: 115px;
  font-size: 14px;
}
.invoice-container.customer-invoice p:nth-of-type(20):not(:empty)::before {
  position: absolute;
  content: "$";
  left: 0;
}
.invoice-container.customer-invoice p:nth-of-type(21) {
  top: 915px;
  left: 250px;
}
.invoice-container.customer-invoice div.table {
  position: absolute;
  top: 477px;
  padding: 0px 12px 0 26px;
  left: 0;
  right: 0;
}
.invoice-container.customer-invoice div.table > div {
  position: unset;
  width: 100%;
  height: 40px;
  border-bottom: 1px dashed #bfbfbf;
  font-weight: normal;
}
.invoice-container.customer-invoice div.table > div > div:nth-child(2) {
  text-align: left;
  text-indent: 10mm;
}
.invoice-container.customer-invoice div.table > div > div {
  position: unset;
  text-align: center;
  font-size: 14px;
}
.invoice-container.customer-invoice div.table > div > div:nth-child(1) {
  width: 52px;
}
.invoice-container.customer-invoice div.table > div > div:nth-child(2) {
  width: 236px;
}
.invoice-container.customer-invoice div.table > div > div:nth-child(3) {
  width: 60px;
}
.invoice-container.customer-invoice div.table > div > div:nth-child(4) {
  width: 92px;
}
.invoice-container.customer-invoice div.table > div > div:nth-child(5) {
  width: 80px;
}
.invoice-container.customer-invoice div.table > div > div:nth-child(6) {
  width: 102px;
}
.invoice-container.customer-invoice div.table > div > div:nth-child(7) {
  width: 120px;
}
.invoice-container.customer-invoice2 {
  display: flex;
  position: relative;
  flex-direction: column;
}
.invoice-container.customer-invoice2 * {
  font-family: "Khmer Os Content", "Times New Roman";
}
.invoice-container.customer-invoice2 .dot {
  overflow: hidden;
  text-wrap: nowrap;
  width: var(--width);
}
.invoice-container.customer-invoice2 .dot::after {
  content: "..........................................................................................................................................................";
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  overflow: hidden;
  font-size: 16px;
}
.invoice-container.customer-invoice2 > * {
  margin-left: 79px;
  margin-right: 53px;
  width: calc(100% - 132px);
  position: relative;
}
.invoice-container.customer-invoice2 .header {
  display: block;
}
.invoice-container.customer-invoice2 .header *:not(img) {
  position: unset;
  padding-left: 223px;
  color: #001f5e;
}
.invoice-container.customer-invoice2 .header img.logo {
  position: absolute;
  width: 80px;
  left: 135px;
  top: 21px;
}
.invoice-container.customer-invoice2 .header h1 {
  margin: 24px 0 0 0;
  font-family: "Khmer Muol";
  font-size: 21px;
}
.invoice-container.customer-invoice2 .header h2 {
  margin: 3px 0 0 1px;
  font-family: "Times New Roman";
  font-size: 19px;
}
.invoice-container.customer-invoice2 .header h3 {
  margin: 17px 0 0 15px;
  font-family: Bokor, "Times New Roman";
  font-size: 16px;
}
.invoice-container.customer-invoice2 .row-1 > h4 {
  margin: 9px 0 0;
  font-size: 13px;
}
.invoice-container.customer-invoice2 .row-2 > h4 {
  margin: 9px 0 0;
  font-size: 13px;
}
.invoice-container.customer-invoice2 .row-2.add-mt > h4 {
  margin-top: var(--mt);
}
.invoice-container.customer-invoice2 table {
  margin-top: 9px;
  border-collapse: collapse;
}
.invoice-container.customer-invoice2 table * {
  position: unset;
  font-size: 13px;
  height: 44px;
}
.invoice-container.customer-invoice2 table tr:hover {
  background: none !important;
  color: #000000 !important;
}
.invoice-container.customer-invoice2 table tr.total,
.invoice-container.customer-invoice2 table tr.total td {
  height: 26px;
}
.invoice-container.customer-invoice2 table tr:last-child,
.invoice-container.customer-invoice2 table tr:last-child * {
  height: 26px;
}
.invoice-container.customer-invoice2 table tr:nth-child(1) td {
  line-height: 18px;
}
.invoice-container.customer-invoice2 table td {
  border: 1px solid #000000 !important;
  width: var(--width);
}
.invoice-container.customer-invoice2 p:nth-of-type(1) {
  top: 137px;
  left: 108px;
}
.invoice-container.customer-invoice2 p:nth-of-type(2) {
  top: 140px;
  left: 162mm;
}
.invoice-container.customer-invoice2 p:nth-of-type(3) {
  top: 176px;
  left: 114px;
  font-size: 13px;
}
.invoice-container.customer-invoice2 p:nth-of-type(4) {
  top: 176px;
  left: 144mm;
  font-size: 14px;
}
.invoice-container.customer-invoice2 p:nth-of-type(5) {
  top: 209px;
  left: 183px;
  font-weight: bold;
}
.invoice-container.customer-invoice2 p:nth-of-type(6) {
  top: 209px;
  left: 142mm;
  font-weight: bold;
}
.invoice-container.customer-invoice2 p:nth-of-type(10) {
  top: 274px;
  left: 129mm;
  text-wrap: nowrap;
  font-size: 11px;
}
.invoice-container.customer-invoice2 p:nth-of-type(10) small {
  font-size: 10px;
}
.invoice-container.customer-invoice2 p:nth-of-type(11) {
  top: 308px;
  left: 185px;
  font-size: 13px;
}
.invoice-container.customer-invoice2 p:nth-of-type(12) {
  top: 311px;
  left: 132mm;
}
.invoice-container.customer-invoice2 p:nth-of-type(13) {
  top: 345px;
  left: 182px;
  font-size: 13px;
}
.invoice-container.customer-invoice2 p:nth-of-type(14) {
  top: 350px;
  left: 125mm;
}
.invoice-container.customer-invoice2 p:nth-of-type(15) {
  top: 382px;
  left: 155px;
  font-size: 13px;
}
.invoice-container.customer-invoice2 p:nth-of-type(16) {
  top: 384px;
  left: 143mm;
  text-wrap: nowrap;
  font-size: 11.5px;
}
.invoice-container.customer-invoice2 p:nth-of-type(17) {
  top: 416px;
  left: 171px;
  font-size: 13px;
}
.invoice-container.customer-invoice2 p:nth-of-type(18) {
  top: 421px;
  left: 133mm;
  font-size: 14px;
}
.invoice-container.customer-invoice2 div.table {
  position: absolute;
  top: 500px;
  padding: 0px 12px 0 26px;
  left: 0;
  right: -34px;
}
.invoice-container.customer-invoice2 div.table > div {
  border: none;
  background-image: url(../images/table-bottom-border.png);
  background-size: auto 1px;
  background-position-y: 100%;
  background-repeat: repeat-x;
}
.invoice-container.customer-invoice2 div.table > div > div:nth-child(1) {
  width: 52px;
}
.invoice-container.customer-invoice2 div.table > div > div:nth-child(2) {
  width: 239px;
  text-indent: 7mm;
}
.invoice-container.customer-invoice2 p:nth-of-type(19) {
  top: 792px;
  left: 89mm;
}
.invoice-container.customer-invoice2 p:nth-of-type(20) {
  top: 792px;
  left: 153mm;
}
.invoice-container.customer-invoice2 p:nth-of-type(21) {
  top: 832px;
  left: 215px;
}

@media print {
  body {
    max-width: 21cm;
    width: 21cm;
    height: 29.7cm;
    margin: 0 !important;
    padding: 0 !important;
    background-color: #ffffff !important;
  }
  body:has(.landscape) {
    width: 29.7cm;
    max-width: 29.7cm;
    height: 21cm;
  }
  .frame {
    display: none;
  }
  nav {
    display: none;
  }
  .invoice,
  .invoice-container {
    box-shadow: none;
    margin: 0 !important;
    background-color: #ffffff;
  }
  .invoice button,
  .invoice-container button {
    display: none;
  }
  .invoice.customer-invoice img:nth-of-type(1),
  .invoice-container.customer-invoice img:nth-of-type(1) {
    margin: 0 !important;
  }
  .print-d-none {
    display: none !important;
  }
}

/*# sourceMappingURL=styles.css.map */
