@import url(../fonts/fonts.css);

* {
  font-family: Battambang, "Roboto regular", serif;
}

*:not(table and input) {
  user-select: none;
}

.battambang {
  font-family: Battambang;
}

.roboto {
  font-family: "Roboto regular", serif;
}

.swal2-styled {
  height: auto;
}

input,
select {
  height: 36px;
}

input[type=date] {
  height: 38px;
}

button {
  height: 42px;
}

.no-select {
  user-select: none;
}

.pointer,
button {
  cursor: pointer;
}

table {
  margin-top: 16px;
  width: 100%;
  border-collapse: collapse;
}

table th {
  height: 36px;
}

table tbody tr:hover:not(table tbody tr td.no-data) {
  background-color: gainsboro;
}

table tr td.no-data {
  text-align: center;
}

table tr:nth-child(even) {
  background-color: #f0f0f0;
}

table tr:not(table tr th) {
  height: 32px;
}

table td,
table th {
  border: 1px solid gray;
  padding: 1px 4px;
}

.flex {
  display: flex;
}

.flex.flex-row {
  flex-direction: row;
}

.flex.flex-column {
  flex-direction: column;
}

.flex.jusify-center {
  justify-content: center;
}

.flex.items-center {
  align-items: center;
}

.flex.justify-end {
  justify-content: end;
}

.text-primary {
  color: #2000d3;
}

.text-danger {
  color: #dd0000;
}

.text-warn {
  color: #f0f000;
}

.text-center {
  text-align: center
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

nav {
  width: calc(100% + 16px);
  display: flex;
  flex-direction: row;
  background: #eeeeee;
  height: 64px;
  margin: -8px;
  margin-bottom: 8px;
}

nav>button {
  height: unset;
  width: unset;
  background: transparent;
  border: none;
  margin: 0 10px;
}

nav>h2 {
  margin: auto 0;
}

.mt-0 {
  margin-top: 0;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-5 {
  margin-top: 20px;
}

.mr-0,
.mx-0 {
  margin-right: 0;
}

.mr-1,
.mx-1 {
  margin-right: 4px;
}

.mr-2,
.mx-2 {
  margin-right: 8px;
}

.mr-3,
.mx-3 {
  margin-right: 12px;
}

.mr-4,
.mx-4 {
  margin-right: 16px;
}

.mr-5,
.mx-5 {
  margin-right: 20px;
}


.ml-0,
.mx-0 {
  margin-left: 0;
}

.ml-1,
.mx-1 {
  margin-left: 4px;
}

.ml-2,
.mx-2 {
  margin-left: 8px;
}

.ml-3,
.mx-3 {
  margin-left: 12px;
}

.ml-4,
.mx-4 {
  margin-left: 16px;
}

.ml-5,
.mx-5 {
  margin-left: 20px;
}

.fs-7 {
  font-size: 7px !important;
}

.fs-8 {
  font-size: 8px !important;
}

.fs-9 {
  font-size: 9px !important;
}

.fs-10 {
  font-size: 10px !important;
}

.fs-11 {
  font-size: 11px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fw-bold {
  font-weight: bold !important;
}

.fs-normal {
  font-weight: normal !important;
}

.home-page {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.home-page a {
  display: contents;
}

.shadow-0 {
  text-shadow: none !important;
  box-shadow: none !important;
}

.invoice {
  display: flex;
  justify-content: center;
}

.invoice-container {
  width: 21cm;
  /* box-shadow: 0 0 1px 1px gray; */
  padding: 0;
  margin: 0;
}

.invoice-container * {
  font-size: 12px;
}

.invoice-container header {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.invoice-container header img {
  height: 70px;
}

.invoice-container header div span {
  font-size: 20px;
}

.invoice-container table * {
  border: none;
  padding: 0;
}

.invoice-container table tr>* {
  padding: 0 2px;
}

.invoice-container table tr {
  background: none;
}

.invoice-container table tr:hover {
  background-color: none !important;
}

.invoice-container table thead tr th {
  color: #000000;
  font-family: Freehand, "Times New Roman";
  font-weight: 600;
  text-shadow: 0.001px 0 0 #000000, -0.001px 0 0 #000000, 0 0.001px 0 #000000, 0 -0.001px 0 #000000;
  text-align: left;
}


.invoice-container table thead tr {
  vertical-align: baseline;
}

.invoice-container table tbody tr td {
  font-size: 9px;
}

.invoice-container table tbody tr:nth-child(n+3) td:not(td:first-child) {
  border-bottom: 1px dashed gray;
}

@media print {
  body {
    max-width: 21cm;
    width: 21cm;
    margin: 0;
    padding: 0;
  }

  nav {
    display: none;
  }

  .invoice,
  .invoice-container {
    box-shadow: none;
    margin: 0;
  }

  .invoice-container button {
    display: none;
  }
}