<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Product - Gasoline Station</title>
  <link rel="stylesheet" href="../styles.css">
</head>

<body>
  <nav>
    <button id="bt-back">&#8592;</button>
    <h2 id="page-title">បន្ថែមផលិតផលថ្មី</h2>
  </nav>

  <div class="flex jusify-center">
    <div class="container flex flex-column" style="min-width: 500px;">
      <label for="tbName">ឈ្មោះ</label>
      <input type="text" id="tbName" required><br>

      <div class="flex flex-row">
        <button style="flex-grow: 1;" class="text-danger" id="bt-cancel">បោះបង់</button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button style="flex-grow: 1;" class="text-primary" id="bt-save">រក្សាទុក</button>
      </div>
    </div>
  </div>
  <script src="../../all.script.js"></script>
  <script src="./product-new.js"></script>
</body>

</html>