<nav>
  <button ng-click="back()">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <h2>អតិថិជន</h2>
</nav>
<button ng-click="newCustomer()">បន្ថែមអតិថិជន</button>
<label for="startDate" ng-value="from">ចាប់ពីថ្ងៃ</label>
<input type="date" id="startDate">
<label for="toDate" ng-value="to">ដល់ថ្ងៃ</label>
<input type="date" id="toDate">
<input type="text" placeholder="ឈ្មោះ, អាសយដ្ឋាន, លេខទូរសព្ទ, កូដកម្មង" ng-model="search">
<button ng-click="getCustomer()">ស្វែងរក</button>

<table>
  <thead>
    <tr>
      <th>ល.រ</th>
      <th>ឈ្មោះ</th>
      <th>អាស័យដ្ឋាន</th>
      <th>លេខទូរសព្ទ</th>
      <th>លេខបញ្ជាទិញ</th>
      <th>ថ្ងៃបង្កើត</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="customers.length == 0">
      <td colspan="7" class="text-center">គ្មានទិន្នន័យ</td>
    </tr>
    <tr ng-repeat="c in customers" ng-dblclick="dblClick(c)">
      <td class="text-center">{{ c.id }}</td>
      <td>{{ c.name }}</td>
      <td>{{ c.address }}</td>
      <td>{{ c.phone }}</td>
      <td>{{ c.code }}</td>
      <td>{{ c.createdAt }}</td>
    </tr>
  </tbody>
</table>