<nav>
  <button ng-click="back()">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <h2>{{title}}</h2>
</nav>

<div class="flex jusify-center">
  <div class="container flex flex-column" style="min-width: 500px;">
    <label for="tbCode" class="mt-2">លេខកូដ</label>
    <input type="text" id="tbCode" required ng-model="code">

    <label for="tbName">ឈ្មោះ</label>
    <input type="text" id="tbName" required ng-model="name">

    <!-- <label for="tbPhone" class="mt-2">ទូរសព្ទ</label>
    <input type="text" id="tbPhone" required ng-model="phone"> -->

    <!-- <label for="tbAddress" class="mt-2">អាស័យដ្ឋាន</label>
    <input type="text" id="tbAddress" required ng-model="address">

    <label for="tbCode" class="mt-2">កូដកម្មង</label>
    <input type="text" id="tbCode" required ng-model="code"><br> -->

    <div class="flex flex-row mt-2 gap-2">
      <button style="flex-grow: 1;" class="text-danger" ng-click="back()">បោះបង់</button>
      <!-- &nbsp;&nbsp;&nbsp;&nbsp;
      <button style="flex-grow: 1;" class="text-primary" ng-click="save()">រក្សាទុក</button> -->
      <button style="flex-grow: 1;" class="text-primary" ng-click="save(true)" ng-if="!id">
        រក្សាទុក និងបញ្ជាទីញថ្មី
      </button>
      <button style="flex-grow: 1;" class="text-primary" ng-click="save(false)">
        {{!id ? 'រក្សាទុក និងចាកចេញ' : 'រក្សាទុក' }} </button>
    </div>
  </div>
</div>