<div class="home-page">
  <a ng-href="#!customers">
    <button>
      <i class="fa-solid fa-people-group"></i>
      អតិថិជន
    </button>
  </a>
  <a ng-href="#!orders">
    <button>
      <i class="fa-solid fa-cart-shopping"></i>
      បញ្ជាទិញ
    </button>
  </a>
  <a ng-href="#!reports">
    <button>
      <i class="fa-solid fa-receipt"></i>
      របាយការណ៍
    </button>
  </a>
  <a ng-href="#!products">
    <button>
      <i class="fa-solid fa-oil-well"></i>
      ផលិតផល
    </button>
  </a>
  <a ng-href="#!settings">
    <button>
      <i class="fa-solid fa-gear"></i>
      ការកំណត់
    </button>
  </a>
  <!-- <a ng-href="#!customerInvoice">
    <button>
      <i class="fa-solid fa-gear"></i>
      Invoice
    </button>
  </a> -->
</div>