<nav>
  <button ng-click="back()">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <h2>ចេញវិក័បត្រ</h2>
</nav>

<div class="invoice" id="invoice">
  <div class="invoice-container">
    <header>
      <img src="assets/images/tela-logo.jpg" alt="">
      <div class="flex flex-column">
        <span class="text-center khmer-muol fw-bold">ក្រុមហ៊ុន កម្ពុជាតេលា</span>
        <span class="text-center times-new-roman fw-bold">KAMPUCHEA TELA LIMITED</span>
      </div>
      <img src="assets/images/paten.png" alt="">
    </header>

    <p class="text-center freehand" style="font-weight: 600; font-size: 18px;">របាយការដឹកប្រេងចេញរបស់ទីផ្សារលក់រាយ</p>
    <p class="text-center freehand">
      ចាប់ពីកាលបរិច្ឆេទ
      <span class="mx-3">{{from}}</span>
      ដល់
      <span class="mx-3">{{to}}</span>
      ឃ្លាំងទំនិញ:
      <span class="mx-3">All</span>
    </p>

    <table>
      <thead style="background-color: gainsboro;">
        <tr>
          <th style="width: 15px;"></th>
          <th style="width: 100px;" class="fs-11">ឈ្មោះ</th>
          <th class="fs-8 times-new-roman" style="transform: translateY(-5px);">SUPER URL95</th>
          <th class="fs-8 times-new-roman" style="transform: translateY(-5px);">REGULAR92</th>
          <th class="fs-8 times-new-roman" style="transform: translateY(-5px);">DIESEL AURO5</th>
          <th class="fs-8 times-new-roman" style="transform: translateY(-5px);">DIESEL AURO5</th>
          <th class="fs-8 times-new-roman" style="transform: translateY(-5px);">SUPER UNL9</th>
          <th class="fs-11" style="width: 160px;">អាស័យដ្ឋានដាក់ទំនិញ</th>
          <th class="fs-9" style="width: 51px;">លេខទូរស័ព្ទ</th>
          <th class="fs-9" style="width: 64px;">លេខបញ្ជាទិញ</th>
          <th class="fs-9">លេខឡាន</th>
          <th class="fs-9" style="width: 83px;">លេខប័ណ្ណផ្ទេរឃ្លាំង</th>
          <th class="fs-8" style="width: 40px;">លេខប័ណ្ណ ដឹកជញ្ជូន</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td colspan="13" class="times-new-roman fs-12 fw-bold">Transfer Date: 18/12/2024</td>
        </tr>
        <tr>
          <td colspan="13">
            <span class="ml-2 times-new-roman fs-12 fw-bold">Station Name: TelaSiem Reap</span>
          </td>
        </tr>

        <tr ng-repeat="i in invoices">
          <td></td>
          <td>{{i.customer}}</td>
          <td class="text-right">{{ i.productId == 1 ? (i.price | number) : '-' }}</td>
          <td class="text-right">{{ i.productId == 2 ? (i.price | number) : '-' }}</td>
          <td class="text-right">{{ i.productId == 3 ? (i.price | number) : '-' }}</td>
          <td class="text-right">{{ i.productId == 4 ? (i.price | number) : '-' }}</td>
          <td class="text-right">{{ i.productId == 5 ? (i.price | number) : '-' }}</td>
          <td>{{i.address}}</td>
          <td>{{i.phone}}</td>
          <td>{{i.code}}</td>
          <td>{{i.carNo}}</td>
          <td>{{i.stockNo}}</td>
          <td>{{i.transportNo}}</td>
        </tr>
      </tbody>
    </table>
    <div class="flex justify-end mt-3">
      <button ng-click="savePdf()">
        <i class="fa-solid fa-file-pdf"></i>
        Save PDF
      </button>
    </div>
  </div>
</div>