<div class="invoice" id="invoice">
  <div class="invoice-container">
    <header>
      <img src="assets/images/tela-logo.jpg" alt="">
      <div class="flex flex-column">
        <span class="text-center khmer-muol">ក្រុមហ៊ុន កម្ពុជាតេលា</span>
        <span class="text-center times-new-roman">KAMPUCHEA TELA LIMITED</span>
      </div>
      <img src="assets/images/paten.png" alt="">
    </header>

    <p class="text-center freehand" style="font-weight: 600; font-size: 18px;">របាយការដឹកប្រេងចេញរបស់ទីផ្សារលក់រាយ</p>
    <p class="text-center freehand">
      ចាប់ពីកាលបរិច្ឆេទ
      <span class="mx-3">18/12/2024</span>
      ដល់
      <span class="mx-3">18/12/2024</span>
      ឃ្លាំងទំនិញ: 
      <span class="mx-3">All</span>
    </p>

    <table>
      <thead style="background-color: gainsboro;">
        <tr>
          <td style="width: 110px;">ឈ្មោះ</td>
          <td class="fs-8">SUPER URL95</td>
          <td class="fs-8">REGULAR92</td>
          <td class="fs-8">DIESEL AURO5</td>
          <td class="fs-8">DIESEL AURO5</td>
          <td class="fs-8">SUPER UNL9</td>
          <td class="fs-9" style="width: 160px;">អាស័យដ្ឋានដាក់ទំនិញ</td>
          <td class="fs-9" style="width: 51px;">លេខទូរស័ព្ទ</td>
          <td class="fs-9" style="width: 64px;">លេខបញ្ជាទិញ</td>
          <td class="fs-9">លេខឡាន</td>
          <td class="fs-9">លេខប័ណ្ណផ្ទេរឃ្លាំង</td>
          <td class="fs-8">លេខប័ណ្ណ ដឹកជញ្ជូន</td>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td colspan="12" class="times-new-roman fs-12">Transfer Date: 18/12/2024</td>
        </tr>
        <tr>
          <td colspan="12">
            <span class="ml-2 times-new-roman fs-12">Station Name: TelaSiem Reap</span>
          </td>
        </tr>

        <tr>
          <td>ខាត់ ស៊ីត</td>
          <td class="text-right">-</td>
          <td class="text-right">4,200</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td>ភូមិដំដែកថ្មី ឃុំដំដែក ស្រុកសូត្រនិគម ខេត្តសៀមរាប</td>
          <td>0123456789</td>
          <td>09-1612202485</td>
          <td>6955-342</td>
          <td>TFRW5202412202420</td>
          <td>12-0572</td>
        </tr>
        <tr>
          <td>ខាត់ ស៊ីត</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td class="text-right">8,200</td>
          <td class="text-right">-</td>
          <td class="text-right">-</td>
          <td>ភូមិដំដែកថ្មី ឃុំដំដែក ស្រុកសូត្រនិគម ខេត្តសៀមរាប</td>
          <td>0123456789</td>
          <td>09-1612202485</td>
          <td>6955-342</td>
          <td>TFRW5202412202420</td>
          <td>12-0572</td>
        </tr>
      </tbody>
    </table>
    <div class="flex justify-end mt-3">
      <button ng-click="savePdf()">
        <i class="fa-solid fa-file-pdf"></i>
        Save PDF
      </button>
    </div>
  </div>
</div>