<nav>
  <button ng-click="back()">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <h2>ចេញវិក័បត្រ</h2>
</nav>

<div class="invoice flex flex-column items-center" id="invoice">
  <div class="invoice-container landscape">
    <header>
      <img src="assets/images/tela-logo.jpg" alt="">
      <div class="flex flex-column">
        <span class="text-center khmer-muol fw-bold">ក្រុមហ៊ុន កម្ពុជាតេលា</span>
        <span class="text-center times-new-roman fw-bold">KAMPUCHEA TELA LIMITED</span>
      </div>
      <img src="assets/images/paten.png" alt="">
    </header>

    <p class="text-center freehand" style="font-weight: 600; font-size: 18px;">របាយការណ៍ដឹកប្រេងចេញ</p>
    <!-- របស់ទីផ្សារលក់រាយ -->
    <p class="text-center freehand">
      កាលបរិច្ឆេទចាប់ពី
      <span class="mx-3">{{from | normalDate}}</span>
      ដល់
      <span class="mx-3">{{to | normalDate}}</span>
      <!-- ឃ្លាំងទំនិញ:
      <span class="mx-3">All</span> -->
    </p>

    <table>
      <thead style="background-color: lightblue;">
        <tr style="vertical-align: middle;">
          <th style="width: 15px;"></th>
          <th class="fs-10 text-left">ឈ្មោះ</th>
          <th class="fs-10 text-right times-new-roman">REGULAR 92</th>
          <th class="fs-10 text-right freehand">តម្លៃ</th>
          <th class="fs-10 text-right times-new-roman">SUPER UNL95</th>
          <th class="fs-10 text-right freehand">តម្លៃ</th>
          <th class="fs-10 text-right times-new-roman">DIESEL EURO5</th>
          <th class="fs-10 text-right freehand">តម្លៃ</th>
          <th class="fs-10 text-center">អាស័យដ្ឋានដាក់ទំនិញ</th>
          <th class="fs-10 text-center">លេខទូរស័ព្ទ</th>
          <th class="fs-10 text-center">លេខបញ្ជាទិញ</th>
          <th class="fs-10 text-center">លេខឡាន</th>
          <th class="fs-10 text-center">លេខប័ណ្ណផ្ទេរឃ្លាំង</th>
          <th class="fs-10 text-center">លេខប័ណ្ណ ដឹកជញ្ជូន</th>
        </tr>
      </thead>

      <tbody>
        <!-- <tr>
          <td colspan="13" class="times-new-roman fs-12 fw-bold">Transfer Date: 18/12/2024</td>
        </tr> -->
        <tr>
          <td colspan="13">
            <span class="ml-2 times-new-roman fs-12 fw-bold">Station Name: TelaSiem Reap</span>
          </td>
        </tr>

        <tr ng-repeat="i in invoices">
          <td></td>
          <td>{{i.customer}}</td>
          <td class="text-right">{{ i.RegularQty ? (i.RegularQty | number:0) : '-' }}</td>
          <td class="text-right">{{ i.RegularPrice ? (i.RegularPrice | number:0) : '-' }}</td>
          <td class="text-right">{{ i.SuperQty ? (i.SuperQty | number:0) : '-' }}</td>
          <td class="text-right">{{ i.SuperPrice ? (i.SuperPrice | number:0) : '-' }}</td>
          <td class="text-right">{{ i.DieselQty ? (i.DieselQty | number:0) : '-' }}</td>
          <td class="text-right">{{ i.DieselPrice ? (i.DieselPrice | number:0) : '-' }}</td>
          <!-- <td class="text-right">{{ i.productId == 4 ? (i.qty | number) : '-' }}</td>
          <td class="text-right">{{ i.productId == 5 ? (i.qty | number) : '-' }}</td> -->
          <td>{{i.address}}</td>
          <td>{{i.phone}}</td>
          <td>{{i.code}}</td>
          <td>{{i.carNo}}</td>
          <td>{{i.stockNo}}</td>
          <td>{{i.transportNo}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="invoice-container landscape print-d-none" style="height: unset;">
    <div class="flex justify-end">
      <button ng-click="print()" class="mr-2">
        <i class="fa-solid fa-print"></i>
        បោះពុម្ភ
      </button>
      <button ng-click="savePdf(null, true)">
        <i class="fa-solid fa-file-pdf"></i>
        Save PDF
      </button>
    </div>
  </div>
</div>