<nav>
  <button ng-click="back()">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <h2>ការបញ្ជាទិញ</h2>
</nav>
<button ng-click="newOrder()">បញ្ជាទិញ</button>
<button id="bt-search">ស្វែងរក</button>

<table>
  <thead>
    <tr>
      <th>ល.រ</th>
      <th>ឈ្មោះ</th>
      <th>ផលិតផល</th>
      <th>ចំនួន</th>
      <th>តម្លៃ</th>
      <th>លេខឡាន</th>
      <th>លេខប័ណ្ណផ្ទេរឃ្លាំង</th>
      <th>លេខប័ណ្ណដឹកជញ្ជូន</th>
      <th>បានទូទាត់</th>
      <th>ថ្ងៃបញ្ជាទិញ</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="orders.length == 0">
      <td colspan="7" class="text-center">No data</td>
    </tr>
    <tr ng-repeat="o in orders" ng-dblclick="dblClick(o)">
      <td class="text-center">{{ o.id }}</td>
      <td>{{ o.customer }}</td>
      <td>{{ o.product }}</td>
      <td>{{ o.qty }}</td>
      <td>{{ o.price }}</td>
      <td>{{ o.carNo }}</td>
      <td>{{ o.stockNo }}</td>
      <td>{{ o.transportNo }}</td>
      <td class="text-center">
        <span ng-if="o.isPaid" class="text-primary">&#10004;</span>
        <span ng-if="!o.isPaid" class="text-danger">&#10006;</span>
      </td>
      <td>{{ o.createdAt }}</td>
    </tr>
  </tbody>
</table>