<nav>
  <button ng-click="back()">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <h2>ផលិតផល</h2>
</nav>

<button ng-click="newProduct()">បន្ថែមផលិតផល</button>
<label for="startDate" ng-value="from">ចាប់ពីថ្ងៃ</label>
<input type="date" id="startDate" ng-model="from">
<label for="toDate" ng-value="to">ដល់ថ្ងៃ</label>
<input type="date" id="toDate" ng-model="to">
<input type="text" placeholder="ឈ្មោះ" ng-model="search">
<button ng-click="getProducts()">ស្វែងរក</button>

<table>
  <thead>
    <tr>
      <th>ល.រ</th>
      <th>ឈ្មោះ</th>
      <th>ថ្ងៃបង្កើត</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-if="products.length == 0">
      <td colspan="7" class="text-center">គ្មានទិន្នន័យ</td>
    </tr>
    <tr ng-repeat="p in products" ng-dblclick="dblClick(p)">
      <td class="text-center">{{ p.id }}</td>
      <td>{{ p.name }}</td>
      <td>{{ p.createdAt }}</td>
    </tr>
  </tbody>
</table>