<nav>
  <button ng-click="back()">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <h2>របាយការណ៍</h2>
</nav>

<label for="startDate" ng-value="from">ចាប់ពីថ្ងៃ</label>
<input type="date" id="startDate" ng-model="from">
<label for="toDate" ng-value="to">ដល់ថ្ងៃ</label>
<input type="date" id="toDate" ng-model="to">
<input type="text" placeholder="ឈ្មោះ, លេខទូរស័ព្ទ, កូដកម្មង, រូបិយប័ណ្ណ, លេខប័ណ្ណផ្ទេរឃ្លាំង, លេខប័ណ្ណដឹកជញ្ជូន"
  ng-model="search">

<button id="bt-search" ng-click="getReports()">ស្វែងរក</button>

<button ng-click="downloadExcel()">ទាញយក Excel</button>
<button ng-click="downloadPdf()">ទាញយក Pdf</button>

<table>
  <thead style="background-color: gainsboro;">
    <tr>
      <th>លេខបញ្ជាទិញ</th>
      <!-- <th>ល.រ</th> -->
      <th>ឈ្មោះ</th>
      <th>ផលិតផល</th>
      <th>បរិមាណ</th>
      <th>តម្លៃ</th>
      <th>តម្លៃសរុប</th>
      <!-- <th>រូបិយប័ណ្ណ</th> -->
      <th>អាស័យដ្ឋានដាក់ទំនិញ</th>
      <th>លេខទូរស័ព្ទ</th>
      <th>លេខឡាន</th>
      <!-- <th>បានទូទាត់</th> -->
      <th>ថ្ងៃបញ្ជាទិញ</th>
      <th>ចេញវិក័យបត្រ</th>
    </tr>
  </thead>

  <tbody>
    <tr ng-if="reports.length == 0" class="no-data">
      <td colspan="13" class="text-center">គ្មានទិន្នន័យ</td>
    </tr>
    <tr ng-repeat="r in reports">
      <td>{{r.code}}</td>
      <!-- <td class="text-center">{{r.id}}</td> -->
      <td>{{r.customer}}</td>
      <td>{{r.product}}</td>
      <td class="text-right">{{ r.qty | number:0 }}</td>
      <td class="text-right">{{ r.price | number:0 }}</td>
      <td class="text-right">{{ r.total | number:0 }}</td>
      <!-- <td>{{r.currency}}</td> -->
      <td>{{r.address}}</td>
      <td>{{r.phone}}</td>
      <td>{{r.carNo}}</td>
      <!-- <td class="text-center">
        <span ng-if="r.isPaid" class="text-primary">&#10004;</span>
        <span ng-if="!r.isPaid" class="text-danger">&#10006;</span>
      </td> -->
      <td>{{r.createdAt | stdDatetime}}</td>      <td class="text-center">
        <a class="pointer" ng-click="createInvoice(r.code)">
          <button style="height: unset;">ចេញវិក័បត្រ</button>
        </a>
      </td>
    </tr>
  </tbody>
</table>

<pagination page="{{page}}" total-pages="{{totalPages}}" on-change="onPageChange()"></pagination>