<nav>
  <button ng-click="back()">
    <i class="fa-solid fa-arrow-left"></i>
  </button>
  <h2>ការកំណត់</h2>
</nav>

<div class="flex jusify-center">
  <div class="container flex flex-column" style="min-width: 500px;">
    <div>
      <span>ទីតាំងទិន្នន័យ(Database): </span>
      <span>{{dbPath}}</span>
      <button ng-click="browDatabase()">ប្ដូរទីតាំង</button>
    </div>
    <div>
      <span>ទីតាំងរក្សាទុកឯកសារ: </span>
      <span>{{savePath}}</span>
      <button ng-click="browseFolder()">ប្ដូរទីតាំង</button>
    </div>
    <div>
      <span>ឈ្មោះស្ថានីយ: </span>
      <span>{{stationName}}</span>
      <button ng-click="changeName()">ប្ដូរឈ្មោះ</button>
    </div>
    <div>
      <span>លេខទូរស័ព្ទស្ថានីយ: </span>
      <span>{{stationPhone}}</span>
      <button ng-click="changePhone()">ប្ដូរលេខទូរស័ព្ទ</button>
    </div>
    <div>
      <span>ប័ណ្ណដឺកជញ្ជូន: </span>
      <span>{{tranNo}}</span>
      <button ng-click="changeTranNo()">ប្ដូរប័ណ្ណដឺកជញ្ជូន</button>
    </div>
  </div>
</div>
<div style="position: fixed;bottom: 0;left: 0;right: 0;">
  <p class="text-center m-0 mb-2">Version: {{version}}</p>
</div>