input,
button {
  height: 36px;
}

button {
  cursor: pointer;
}

table {
  margin-top: 16px;
  width: 100%;
  border-collapse: collapse;
}

table th {
  height: 36px;
}

table tr:hover:not(thead tr) {
  background-color: gainsboro;
}

table td,
table th {
  border: 1px solid gray;
}

.flex {
  display: flex;
}

.flex.flex-row {
  flex-direction: row;
}

.flex.flex-column {
  flex-direction: column;
}

.flex.jusify-center {
  justify-content: center;
}

.text-primary {
  color: #2000d3;
}

.text-danger {
  color: #dd0000;
}

.text-warn {
  color: #f0f000;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #eeeeee;
  height: 64px;
  margin: -8px;
  margin-bottom: 8px;
}

nav>button {
  height: unset;
  width: unset;
  background: transparent;
  border: none;
  margin: 0 10px;
}