<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <title>Customer - Gasoline Station</title>
  <link rel="stylesheet" href="../styles.css">
</head>

<body>
  <nav>
    <button id="bt-back">&#8592;</button>
    <h2>អតិថិជន</h2>
  </nav>
  <button id="bt-new">បន្ថែមអតិថិជន</button>
  <button id="bt-search">ស្វែងរក</button>

  <table>
    <thead>
      <tr>
        <th>ឈ្មោះ</th>
        <th>អាស័យដ្ឋាន</th>
        <th>ទូរសព្ទ</th>
        <th>កូដកម្មង</th>
        <th>ថ្ងៃបង្កើត</th>
      </tr>
    </thead>
    <tbody id="tbl-body">

    </tbody>
  </table>
  <script src="../../all.script.js"></script>
  <script src="./customer.js"></script>
</body>

</html>